.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.link {
  font-size: 17px;
  color: #ff8900 /* plasmic-token: kCQ5hK3TL */;
}
.root .link:hover {
  background: #ffffff;
}
